<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8">
    <head> <script type="text/java" src="http://code.jquery.com/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="js/angular1.2.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script type="text/java" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="angular.js" type="text/javascript"></script>
    <script src="js/underscore.js" type="text/javascript"></script>

    <title>Desafio</title>
</head>
<body ng-controller="Ctrl1">
<div class="container">
   	
    <div class="navbar navbar-default" role="navigation">
    	<a class="navbar-brand" href="#">RE-REDDIT</a>

	</div>
	    	<div class="btn-group">
			 <div class="input-group">
  					<input type="text" class="form-control">
 			 		<span class="input-group-addon">BUSCA</span>
			</div>
    </div>
    
    <div class="page-header">
  		<h1>Gostei disso!!!</h1>
  	<div class="media" ng-repeat="post in allPostsFavoritos">
  		<div bs-postnote="post"></div>
	</div>
	</div>

	 <div class="page-header">
  		<h1>Todo o resto</h1>
	</div>

	<div class="media" ng-repeat="post in allPosts">
		<div bs-postnote="post"></div>
	</div>

</div>


</div>
</body>
</html>



<script type="text/ng-template" id="template.html">

</script>


