		 <a class="pull-left" href="#">
    		<img class="media-object" src="{{post.data.thumbnail}}" alt="...">
  		</a>
		<div class="media-body">
		       <h4 class="media-heading"></h4>
		       <p> Gostaram: <span class="glyphicon glyphicon-arrow-up"></span>    </p>
		       <p> Odiaramn: <span class="glyphicon glyphicon-arrow-down"></span>  </p>
		       <button type="button" class="btn btn-default btn-lg" ng-click="allPosts.splice($index, 1); allPostsFavoritos.push(post);">
  					<span class="glyphicon glyphicon-star"></span> Curtir
			   </button>
		</div>

